<template web>
	<div class="main-container">
		{{selected.name}}
	</div>
</template>
<template native>
	<Page class="page">
		<ActionBar :title="selected.name"></ActionBar>
		<StackLayout col="1" class="p-20">
			<Image height="200" :src="selected.src" class="thumb img-circle"></Image>
			<Label class="body" textWrap="true" :text="selected.description"></Label>
		</StackLayout>
	</Page>
</template>

<script>
	export default {
		props: ["selected"]
	};
</script>

<style web>
	.main-container {
		position: relative;
		margin-left: 250px;
	}
</style>
