<template web>
  <div class="w-page">
      <div class="sidebar">
        <div class="sidebar-item" v-for="(item, index) in pokemon" @click="select(index)" :key="index">
          <img :src="item.src"/>
          <span class="font">{{item.name}}</span>
          <router-view v-if="selected === index" :selected="item"/>
        </div>
      </div>
      <div>{{navbarTitle}}</div>
  </div>
</template>
<template native>
  <Page>
    <ActionBar :title="navbarTitle"/>
    <GridLayout columns="*">
      <GridLayout col="0" class="left-column">
        <ListView class="list-group" for="item in pokemon" @itemTap="select">
          <v-template>
            <GridLayout class="list-group-item" rows="*" columns="auto, *">
              <Image row="0" col="0" :src="item.src" class="thumb"></Image>
              <Label row="0" col="1" :text="item.name"></Label>
            </GridLayout>
          </v-template>
        </ListView>
      </GridLayout>
    </GridLayout>
  </Page>
</template>
<script>
  import DetailPage from './views/DetailPage';
  const { VUE_APP_MODE } = process.env;
  const pokemon = require("assets/data").pokemon;

  export default {
    data() {
      return {
        navbarTitle: `Master Page`,
        pokemon: pokemon,
        selected: -1
      };
    },
    methods: {
      selectPokemon(item) {
        this.goTo(item);
      },
      select(event) {
        const selected = pokemon[event.index];
        this.goTo(selected);
      },
      goTo(pokemon) {
        const props = {
          props: {
            selected: pokemon
          }
        }
        if(VUE_APP_MODE !== 'web') {
          this.$navigateTo(DetailPage, props);
        }
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style web>
  @import '~styles/style-one';

  .w-page {
    height: 100%;
    width: 100%;
  }

  .sidebar {
    width: 250px;
    color: black;
  }

  .sidebar-item {
    text-align: center;
    margin: auto;
    background-color:powderblue;
  }

  .font {
    color: #0066FF;
    font-family:arial;
    font-size: 26px;
  }
</style>
<style native>
  @import '~styles/style-one';

  .home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
  }

  .description-label {
    margin-bottom: 15;
  }
</style>
